{%extends "base.html"%}

{%block nav%}
{%include "nav.html"%}
{%endblock%}

{%block content%}
{%load staticfiles%}

<div class="row">
	<div class="col-xs-12 text-center">
		<h3> About Calendar with Stuff </h3>
	</div>
</div>
<div class="row">
	<div class = "col-xs-12 text-center">
		This is a Calendar Display web application that integrates user-specified Apps that provided various settings and forms for the user to allow the App to automatically fill their calendar with various events from the sources the Apps are providing.
		This was developed by two chaps that just want people to see time-based events more.  Why?  Because: America.
		This application is power by Django, amoung other things.
		We should cite them in our code and here?

		What else do people say on about pages?

	</div>
</div>

{%endblock%}
