{% extends "form.html" %}

{% block extras %}
    {% load staticfiles %}
    <link href="{% static 'widgets/datepicker/jquery.datepick.css' %}" rel="stylesheet">
    <link href="{% static 'widgets/timepicker/jquery.timepicker.css' %}" rel="stylesheet">
    <link href="{% static 'framework/css/appForm.css' %}" rel="stylesheet">
    <script src="{% static 'widgets/datepicker/jquery.datepick.js' %}"></script>
    <script src="{% static 'widgets/timepicker/jquery.timepicker.js' %}"></script>
{% endblock %}

{% block before %}
        <div class="panel" style="background-color:{{appSetting.color}};">
            <h2>{{appSetting.app.name}}</h2>
{% endblock %}

{% block after %}
    </div>
    <script src="{% static 'framework/js/appForm.js' %}"></script>
    <script>
function deleteButtonAction(event, id) {
	event.preventDefault();
	$.post("{% url 'removeapp' %}", {"appSettingID": id, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(response){
		$.load(response);
		//document.location.reload(true);
	});
}

</script>
{% endblock %}

{% block action %}{% url 'form_to_json' %}{% endblock %}

{% block onSubmit %}submitted(event){% endblock %}
{% block onDelete %}deleteButtonAction(event, {{settings_id}}){% endblock %}