{% extends "form.html" %}

{% block extras %}
    {% load staticfiles %}
    <link href="{% static 'widgets/datepicker/jquery.datepick.css' %}" rel="stylesheet">
    <link href="{% static 'widgets/timepicker/jquery.timepicker.css' %}" rel="stylesheet">
    <link href="{% static 'framework/css/appForm.css' %}" rel="stylesheet">
    <script src="{% static 'widgets/datepicker/jquery.datepick.js' %}"></script>
    <script src="{% static 'widgets/timepicker/jquery.timepicker.js' %}"></script>
    <script src="{% static 'framework/js/appForm.js' %}"></script>
{% endblock %}

{% block action %}{% endblock %}

{% block onSubmit %}submitted(event){% endblock %}