{% extends "form.html" %}

{% block extras %}
    {% load staticfiles %}
    <link href="{% static 'widgets/datepicker/jquery.datepick.css' %}" rel="stylesheet">
    <script src="{% static 'widgets/datepicker/jquery.datepick.js' %}"></script>
    <link href="{% static 'widgets/timepicker/jquery.timepicker.css' %}" rel="stylesheet">
    <script src="{% static 'widgets/timepicker/jquery.timepicker.js' %}"></script>

    <script>
      $(function() {
        $( ".datepicker" ).datepicker();
        $( ".timepicker" ).timepicker();
      });
  </script>

  <script>
    function submitted(event) {
        event.preventDefault();
        alert("The form was submitted");
    }
</script>
{% endblock %}

{% block action %}{% endblock %}

{% block onSubmit %}submitted(event){% endblock %}