{%if user.is_authenticated%}
	<div class="row">
		<div class="col-xs-12 text-center">	
		<br>
		<h4>Your Apps:</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">	

		{%for appSetting in userApps%}
		<div class="panel appPanel" style="background:{{appSetting.color}}">
			<div class="row">
				<img src="{{appSetting.app.icon_url}}" class="col-xs-2"> 
				<div class="col-xs-10">
					<div class="row">
						<div class ="col-xs-8">
							<b> {{appSetting.app.name}} </b>{{appSetting.app.version}}
						</div>
						<input type="checkbox" id="btn{{appSetting.id}}"  class="col-xs-2 col-xs-offset-1" checked="checked">
					</div>
					<div class="row">
						{{appSetting.app.description}}
					</div>
				</div>
			</div>
		</div>
		{%endfor%}
		</div>
	</div>


{%endif%}

<script type="text/javascript">
	$(document).ready(function() {
		{%for appSetting in userApps%}
			$("#btn{{appSetting.id}}").click(toggleAppDisplay({{appSetting.id}}));
		{%endfor%}
	});
</script>

{%load staticfiles%}
<script type="text/javascript" src="{% static "framework/js/appPanel.js" %}"></script>