<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>A Calendar of Stuff</title>
	{% load staticfiles %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static "framework/css/main.css" %}">
  <link href="{% static "fullcalendar/fullcalendar.css" %}" rel='stylesheet' />
  <link href="{% static "fullcalendar/fullcalendar.print.css" %}" rel='stylesheet' media='print' />
  <script src="{% static "fullcalendar/lib/moment.min.js" %}"></script>
  <script src= "{% static "fullcalendar/fullcalendar.min.js" %}"></script>
</head>
<body>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3">
			{%block nav%}
		

			{%endblock%}
		</div>
		<div class="col-xs-6">
			{% block content %}


			{%endblock%}
		</div>
		
  	</div>
  	<div class="row">
  		<div class="col-xs-6">
  			{%for error in errors%}
  				<div class="error">{{error}}</div>
  			{%endfor%}
  		</div>
  	</div>
  	<div class="row">
  		<div class="col-xs-6">
  			{%for msg in messages%}
  				<div class="error">{{msg}}</div>
  			{%endfor%}
  		</div>
  	</div>
</div>



</body>
</html>