{%load staticfiles%}
<link href='{% static "fullcalendar/fullcalendar.css" %}' rel='stylesheet' />
<link href='{% static "fullcalendar/fullcalendar.print.css" %}' rel='stylesheet' media='print' />
<script src='{% static "fullcalendar/lib/moment.min.js" %}'></script>
<script src='{% static "fullcalendar/fullcalendar.min.js" %}'></script>

<script type="text/javascript">
    var sources = [
        {
            url: '{% url 'json_events' %}',
            color: 'white',
            textColor: 'black'
        }
        {% for appSetting in user.userPointer.appsettings_set.all %}
        ,{
            url: '{{appSetting.app.data_url}}',
            dataType: 'jsonp',
            jsonp: 'data',
            data: {
                settings: '{{appSetting.settings_json}}',
            },
            color: 'rgb({{appSetting.color.red}}, {{appSetting.color.green}}, {{appSetting.color.blue}})',
            textColor: 'white',
            index: {{appSetting.id}}
        }
        {% endfor %}
    ]
</script>
<script type="text/javascript" src="{% static "framework/js/calendar.js" %}"></script>
<div id='calendar'></div>