{%extends "base.html"%}


{%block nav%}
{%include "nav.html"%}
{%endblock%}


{%block content%}

<div class="row">
    <div class="col-xs-12 text-center">
        <h3> Edit Your Apps </h3>
    </div>
</div>
<div class="row">
    <div class = "col-xs-12 text-center">
    {%for appSetting in userApps%} 
        <div id="App{{appSetting.id}}"></div>
    {%endfor%}
    </div>
</div>
<script type="text/javascript">
    var formUrls = [
    {%for appSetting in userApps%}
    {
    "url": "{{appSetting.app.settings_url}}",
    "id": "{{appSetting.id}}"
    },
    {%endfor%}
    ];
    var csrf = "{{csrf_token}}";
    var json2form = "{% url 'json-to-form' %}";
</script>
{% load staticfiles %}
<script src="{% static 'framework/js/appForm.js' %}"></script>

{%endblock%}




