{%extends "base.html"%}


{%block nav%}
{%include "nav.html"%}
{%endblock%}


{%block content%}

<div class="row">
    <div class="col-xs-12 text-center">
        <h3> Edit Your Apps </h3>
    </div>
</div>
<div class="row">
    <div class = "col-xs-12 text-center">
    {%for appSetting in userApps%} 
        <div id="App{{appSetting.id}}"></div>
    {%endfor%}
    </div>
</div>
<script type="text/javascript">
{%for appSetting in userApps%}

{%if appSetting.app.settings_url%}
    var jqxhr = $.getJSON( "{{appSetting.app.settings_url}}", function(data) {
      console.log( data );
    });

  jqxhr.done(function(data) {
    console.log(data);
        console.log( "second success" );
        $.post( "{% url 'json-to-form' %}", {"id": {{appSetting.id}}, "data":JSON.stringify(data), 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data){
            var domElement = $("#App{{appSetting.id}}");
            domElement.html(data);
            domElement.find("script").each(function(i) {
                    eval($(this).text());
            });
        });
        
    });
  jqxhr.fail(function() {
        console.log( "error" );
    });
  jqxhr.always(function() {
        console.log( "complete" );
    });
 


{%endif%}
{%endfor%}
   
</script>

{%endblock%}




