{% block extras %}{% endblock %}



{% block before %}{% endblock %}
{%if param%}
<form class="form-vertical" method="post" action="{% url form_action param%}">
{%else%}
<form class="form-vertical" method="post" action="{% block action %}{% url form_action %}{% endblock %}" onSubmit="{% block onSubmit %}{% endblock %}">
{%endif%}
    <div id="form_errors" class="error">
        {% for error in form.non_field_errors %}
             {{ error }}
        {% endfor %}
    </div>

    {% for field in form %}
        <div class="form-group">
            <div class="error" id="{{field.html_name}}_error">
                {{field.errors}}
            </div>
            {{field.label_tag}}
            {{field}}
        </div>
    {% endfor %}
    {% block hidden_fields %}{%endblock%}
    <input type="submit" class="btn btn-default" value="{{submit_string}}" />
    {% block extra_buttons %}{%endblock%}
    {% csrf_token %}
</form>

{% block after %}{% endblock %}