{% block extras %}{% endblock %}


{% block before %}{% endblock %}
<form class="form-vertical" method="post" action="{% block action %}{% url form_action %}{% endblock %}" onSubmit="{% block onSubmit %}{% endblock %}">
    {% for error in form.non_field_errors %}
        <div class="error"> {{ error }} </div>
    {% endfor %}

    {% for field in form %}
        <div class="form-group">
            {{field.label_tag}}
            {{field}}
            {{field.errors}}
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-default" value="{{submit_string}}" />
    {% csrf_token %}
</form>

{% block after %}{% endblock %}