

	<div class="row">
		<div class="col-xs-12 text-center">
			<h3> Nav Panel </h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a class="btn btn-default" href="{% url 'about' %}">About</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a class="btn btn-default" href="{% url 'main' %}">Home</a>
		</div>
	</div>
	{% if not user.is_authenticated %}
	<div class="row">
		<div class="col-xs-12 text-center">
			<a class="btn btn-default" href="{% url 'login' %}">Login</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<a class="btn btn-default" href="{% url 'register' %}">Register</a>
		</div>
	</div>
	{%else%}
	<div class="row">
		<div class="col-xs-12 text-center">
			<a class="btn btn-default" href="{% url 'calendar' %}">My Calendar</a>
		</div>
	</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<a class="btn btn-default" href="{% url 'appstore' %}">AppStore</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<a class="btn btn-default" href="{% url 'profile' user%}">Profile</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<a class="btn btn-default" href="{% url 'logout' %}">Logout</a>
			</div>
		</div>
	{%endif%}
	

