{%extends "base.html"%}

{%block nav%}
{%include "nav.html"%}
{%endblock%}

{%block content%}



	<div class="row">
		<div class="row">
			<div class="col-xs-12">
				<h3>This is the profile page of {{ author }}: </h3>
				{{firstname}} {{lastname}} Age: {%if age%}{{age}} {%else%} unknown{%endif%}
			</div>
		</div>
	</div>


	<div class="row">
		<div class="row">
			<div class="col-xs-12">
				<a class="btn btn-default" href="{% url 'editprofile' %}">Edit Your Profile</a>
				<a class="btn btn-default" href="{% url 'editapp' %}">Edit Your Apps</a>
				<a  class="btn btn-default"href="{% url 'removeUserOAuth' %}">Revoke Google User Permissions</a>
			</div>
		</div>
	</div>


{%endblock%}