{%extends "base.html"%}

{%block nav%}
{%include "nav.html"%}
{%endblock%}

{%block content%}



	<div class="row">
		<div class="row">
			<div class="col-xs-12">
				<h3>This is the profile page of {{ author }}: </h3>
				{{firstname}} {{lastname}} Age: {%if age%}{{age}} {%else%} unkown{%endif%}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
		{%if bio%}
		Bio: {{bio}}
		{%else%}
		Bio: Here is where your bio could go...
		{%endif%}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
		{%if profile.picture_url%}
		<img src="{{profile.picture_url}}" width=200px />
		{%else%}
		...Imagine an image here...
		{%endif%}
		</div>
	</div>



{%endblock%}